@font-face {
    font-family: 'playfair_displaybold';
    src: url('fonts/playfairdisplay-bold-webfont.woff2') format('woff2'),
         url('fonts/playfairdisplay-bold-webfont.ttf') format('truetype'),
         url('fonts/playfairdisplay-bold-webfont.svg#playfair_displaybold') format('svg');
    font-weight: bold;
    font-style: normal;

}


@font-face {
    font-family: 'playfair_displaybold_italic';
    src: url('fonts/playfairdisplay-bolditalic-webfont.woff2') format('woff2'),
         url('fonts/playfairdisplay-bolditalic-webfont.ttf') format('truetype'),
         url('fonts/playfairdisplay-bolditalic-webfont.svg#playfair_displaybold_italic') format('svg');
    font-weight: bold;
    font-style: normal;

}



@font-face {
    font-family: 'playfair_displayitalic';
    src: url('fonts/playfairdisplay-italic-webfont.woff2') format('woff2'),
         url('fonts/playfairdisplay-italic-webfont.ttf') format('truetype'),
         url('fonts/playfairdisplay-italic-webfont.svg#playfair_displayitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'playfair_displayregular';
    src: url('fonts/playfairdisplay-regular-webfont.woff2') format('woff2'),
         url('fonts/playfairdisplay-regular-webfont.ttf') format('truetype'),
         url('fonts/playfairdisplay-regular-webfont.svg#playfair_displayregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewaylight';
    src: url('fonts/raleway-light-webfont.woff2') format('woff2'),
         url('fonts/raleway-light-webfont.ttf') format('truetype'),
         url('fonts/raleway-light-webfont.svg#ralewaylight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ralewaylight_italic';
    src: url(fonts/'raleway-lightitalic-webfont.woff2') format('woff2'),
         url(fonts/'raleway-lightitalic-webfont.ttf') format('truetype'),
         url(fonts/'raleway-lightitalic-webfont.svg#ralewaylight_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaymedium';
    src: url(fonts/'raleway-medium-webfont.woff2') format('woff2'),
         url(fonts/'raleway-medium-webfont.ttf') format('truetype'),
         url(fonts/'raleway-medium-webfont.svg#ralewaymedium') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'ralewaymedium_italic';
    src: url(fonts/'raleway-mediumitalic-webfont.woff2') format('woff2'),
         url(fonts/'raleway-mediumitalic-webfont.ttf') format('truetype'),
         url(fonts/'raleway-mediumitalic-webfont.svg#ralewaymedium_italic') format('svg');
    font-weight: bold;
    font-style: normal;

}
.logo {
  float: left;
  width: 150px;
  height: auto;
  margin-left: auto;
  margin-top: : 20px
  margin-bottom: 21px
  margin-right: 15px

  }
.cart {
  float: right;
  width: 50px;
  display: inline-block;

}
.collection {
  font-size: 30px;
  color: white;
  margin-left: auto;
  text-align:center;
}
.spring {
  font-size: 40px;
  font-style: Raleway italic, playfair bold;
  color: white;
  text-align:center;
  margin-left: auto;
  padding-left: 60px
}
.hero-title {
  text-align: center;

}
li {
  display: inline-block;
  margin: 0 auto 0 auto;
  text-align: center;

}
/*.hero {
  background-image:
    linear-gradient(to bottom, rgba(0,0,0,0.25) 100%, rgba(0,0,0,0.25) 100%),
    url("images/banner-girl.png"),
    url("images/flower-bkgd.jpg");
  background-size:  contain, 235px, 800px;
  background-position: top center ,top center ,top center;
  background-repeat: no-repeat,no-repeat, repeat;
  background-color: white;*/

  /*clearfix:before,
  .clearfix:after{}
  margin:0 auto;
  padding-bottom: : 100px;
  text-align: center;
  font-family: sans-serif;
  height: 500px;

}*/

.clearfix:before;
.clearfix: after {
content:" ";
display: table;
clear:both;
}

.hero{
  height:530px;
  width:100%;
  margin-top:5rem;
  text-align: center;
  background:linear-gradient(to bottom, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.25) 100% ),
  url("images/banner-girl.png")no-repeat center 50px,
  url("images/flower-bkgd.jpg")repeat-x center;
  background-size: contain, contain;
}

/*} url(../images/banner-girl.png) no-repeat center 60px, url(../images/flower-bkgd.jpg) repeat-x center top;*/


.style {
  margin: 40px;
  text-align: center;
  font-family: sans-serif;
  border-bottom: 1px solid #d7d7d7;
}
.contain {
  width: 1280px;
  text-align: center;
}
.products {
  text-align: center;
  font-family: playfair display, sans-serif;
  display:inline-block;
  margin:auto;
}

li {
  display: inline-block;
}
.updates {
  background-image:
    url('images/wave-bkgd.jpg');
    background-position: bottom;
  background-repeat: no-repeat;
  background-color: white;
  font-family: sans-serif;
  margin-bottom: 8px;
  height: 325px;
  color: white;
padding-top: 20px;
text-align: center;
border-top: 1px solid #d7d7d7;

}

{}
button {
  color: red;
  font-weight: bold;

}
.social {
    float:right;
    display:list-item;
}
.img {
    width:100px;
    vertical-align: middle; /* add this */
}

.ahola{
  float: left;
}

h3 {
color: #e2574c;
    font: sans serif
  }
  a:hover {
  	color: #e2574c;
  }

.clearfix:before;
.clearfix: after {
content:" ";
display: table;
clear:both;
}
.footer {
  background-color: #242424;
    color: white;
    font-family: 'Playfair Display', serif;
    height: 300px;

}

h2 {
  text-align:center;
  border-top: 1px solid #d7d7d7;
}

@media screen and (min-width: 600px){


body{

}
